
body { 
    background-image: 'https://www.google.co.uk/search?rlz=1C5CHFA_enGB859GB859&tbm=isch&sa=1&ei=l-doXYSDBdCbgQbPlo2ICA&q=baby+drummer+images+1500+-+2500+px&oq=baby+drummer+images+1500+-+2500+px&gs_l=img.3...575282.592516..593173...0.0..0.188.1186.13j2......0....1..gws-wiz-img.iL8LXJLBWWk&ved=0ahUKEwjEqqS-n6rkAhXQTcAKHU9LA4EQ4dUDCAY&uact=5#imgrc=tshv9Dmby0sq7M:'
}


.buttons  {
    background-color:lightcyan;
    text-align: center;
    border-radius: 30px;
    font-size: 30px;
    border-color: fuchsia;
    border-width: 2px;
    padding:5px;
    margin-top: -800px;
    position: relative;
    flex-direction: ;
    display : inline-flex;
    align-items: center;
    

}

.buttons:hover {
    background-color: skyblue;

}
.buttons:focus {
    outline: none;
}

.drum {
    width: 100vw;
    height: 100vh;
}




